

<ion-content transparent background-size >

  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    <ion-title>Change Password</ion-title></ion-buttons>
  </ion-toolbar>
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
   
       
      <ion-card class="card">
        <ion-card-header color="light">
          <h1>Change Password</h1>
        </ion-card-header>
     
        <ion-card-content>



            <ion-grid>


              <ion-row>
                <ion-col>
                  <ion-label text-size-xs position="stacked">Current Password</ion-label>
                       <ion-item>
                  <ion-input formControlName="current_password" type="text"></ion-input>
                    </ion-item>
            </ion-col>
            </ion-row>
           
      
           
            <ion-row>
              <ion-col>
                <ion-label text-size-xs position="stacked">New Password</ion-label>
                     <ion-item>
                <ion-input formControlName="new_password" type="text"></ion-input>
                  </ion-item>
          </ion-col>
          </ion-row>
         

          
          <ion-row>
            <ion-col>
              <ion-label text-size-xs position="stacked">Confirm Password</ion-label>
                   <ion-item>
              <ion-input formControlName="confirm_password" type="text"></ion-input>
                </ion-item>
        </ion-col>
        </ion-row>
       
      
      
    
      
      
      
      
      
            </ion-grid>
            <div class="form-group">
              <ion-button type="submit" expand="block" size="default" >Change Password</ion-button></div>

      
       
      </ion-card-content></ion-card>
        </form>

   
</ion-content>








<ion-footer>
  <ion-toolbar>


    <ion-tabs>

      <ion-tab-bar slot="bottom" color="dark">
        <ion-tab-button (click)="sendto('dashboard')">
          <ion-icon name="home"></ion-icon>
          <ion-label color="light">Home</ion-label>
        </ion-tab-button>
    
        <ion-tab-button (click)="sendto('transactions')">
          <ion-icon name="wallet"></ion-icon>
          <ion-label   color="light">Transactions</ion-label>
        </ion-tab-button>
        
        <ion-tab-button (click)="sendto('buy-coin')">
          <ion-icon name="logo-bitcoin"></ion-icon>
          <ion-label   color="light">Buy Coin</ion-label>
        </ion-tab-button>

        
        <ion-tab-button (click)="sendto('send-coin')">
          <ion-icon name="send"></ion-icon>
          <ion-label   color="light">Send Coin</ion-label>
        </ion-tab-button>
    
        <ion-tab-button (click)="sendto('setting')">
          <ion-icon name="list"></ion-icon>
          <ion-label  color="light">Menu</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    
    </ion-tabs>
    
  </ion-toolbar>
</ion-footer>
