<ion-content transparent background-size>

 <ion-grid>
      <ion-row align-items-center>
        <ion-col>
          <ion-img src="/assets/alphakoin.png" class="image"></ion-img>
 </ion-col>
 </ion-row>
</ion-grid>
  <form [formGroup]="loginForm" (ngSubmit)="onFormSubmit(loginForm.value)">
<ion-card class="card">
  <ion-card-header color="light">
    <h1>Sign In</h1>
  </ion-card-header>
  <ion-card-title>
 <ion-label class="h6">Sign In With Your Email To See The Amazing New </ion-label><ion-label class="h6">Thing You Have Missed.</ion-label></ion-card-title>
  <ion-card-content>
  <ion-grid>
  <ion-row>
    <ion-col>
      <ion-label text-size-xs position="stacked">Email</ion-label>
      <ion-item no-padding transparent input>
              <ion-input type="text" formControlName="email" name="email"></ion-input>
            </ion-item>
    </ion-col>
  </ion-row>

   <ion-row>
    <ion-col>
      <ion-label text-size-xs position="stacked">Password</ion-label>
        <ion-item no-padding transparent input>
              <ion-input type="password" formControlName="password" name="password"></ion-input>
            </ion-item>
    </ion-col>
  </ion-row>
  <span *ngIf="!otp1">
          <div class="form-group" *ngIf="!gauth">
            <ion-button type="button" expand="block" (click)="checkGAUTH()" size="default">Login...</ion-button>
          </div>
</span>

<ion-row>
  <ion-col>
    <ion-item no-padding transparent input *ngIf="otp1">
              <ion-label text-size-xs position="stacked">OTP</ion-label>
              <ion-input type="text" formControlName="email_otp" name="email_otp"></ion-input>
            </ion-item>
  </ion-col>
  </ion-row>
  <div class="form-group" *ngIf="otp1">
            <ion-button type="button" expand="block" (click)="emailotpverify()" size="default" >Login...</ion-button>
          </div>
</ion-grid>

   <ion-list>
            <ion-item no-padding transparent input *ngIf="gauth">
              <ion-label text-size-xs position="stacked">Google Auth</ion-label>
              <ion-input type="text" formControlName="google_auth" name="google_auth"></ion-input>
            </ion-item>
          </ion-list>
           <div class="form-group" *ngIf="gauth">
            <ion-button type="submit" expand="block" size="default" color="danger">Login...</ion-button>
          </div>

     
     
     
     
     
          <div class="ion-text-center"><p>Not A Member<ion-label (click)="sendto('tabs/tab2')"> &nbsp;REGISTER HERE</ion-label></p> </div>
          <br>


          <div  *ngIf="loading" class="ion-text-center">
            <ion-spinner name="bubbles"></ion-spinner>
              <span class="ion-text-center">Loading...</span></div>
        </ion-card-content>
</ion-card>





</form>

</ion-content>